{% extends 'layout/base.html' %}

{% block title %}웹프로젝트 V1{% endblock %}
{% block style %}
        #main { height: auto ; min-height: 500px;}

        /* 링크관련 스타일시트 */
        a { font-weight: bold }
        a:link { color: black; text-decoration: none}
        a:visited { color: black; text-decoration: none}
        a:hover { color: orange; text-decoration: underline }
        a:active { color: orange; text-decoration: underline }

        /* 컨테츠 영역 너비 지정 및 정중앙 배치 */
        #wrap { width: 1250px; margin: 0 auto }

        /* 상단 로고 배치*/
        header h1 { margin-bottom: 45px;}

        /* 메뉴 수평배치 */
        ul { list-style: none; display: flex; justify-content: space-around }
        /*ul li { display: inline-block; padding:0 ; margin-left: 155px;}*/

        /* 저작권 문구 가운데 정렬렬*/
        footer span { display: block; text-align: center  }

        /* 구분선 진하게*/
        hr { background: black; height: 1px; }
{% endblock %}
{% block content %}main{% endblock %}
{% block jscript %} {% endblock %}